apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: petite-maison-epouvante-full
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ObitoA2z/indiv1b.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: petite-maison-epouvante
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
